{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Add Expance - moneyMentorHub</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Phoenixcoded" />
    <link rel="icon" href="{% static 'User_panel/assets/images/favicon.ico'%}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'User_panel/assets/css/style.css'%}">
</head>
<body class="">
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    {% include 'sidebar-header.html'%}
    <div class="pcoded-main-container">
        <div class="pcoded-content">
            <div class="First_row">
                <div class="page-header-title">
                    <h2 class="m-b-10">Expance</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Your Expance</h5>
                        </div>
                        <div class="card-body">
                            <form method="post">
                                {%csrf_token%}
                                <input type="hidden" name="{{data.user_id.name}}" value="{{User_Id.id}}">
                                <div class="form-group">
                                    <label for="inputAddress2">Amount Type</label>
                                    <select id="inputAddress2" class="form-control" name="{{data.amount_type.name}}">
                                        {% for type in types %}
                                        <option value="{{type.id}}" {% if type.id == data.amount_type.value %}
                                            selected {% endif %}>{{type.type}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress2">Amount</label>
                                    <input type="number" class="form-control" id="inputAddress2" placeholder="Amount"
                                        name="{{data.amount.name}}"
                                        value="{% if data.amount.value %}{{data.amount.value}}{% endif %}">
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress2">Amount Source</label>
                                    <select id="inputAddress2" class="form-control" name="{{data.amount_sourse.name}}">
                                        {% for sourse in sources %}
                                        <option value="{{sourse.id}}" {% if sourse.id == data.amount_sourse.value %}
                                            selected {% endif %}>{{sourse.sourse}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress2">Amount Status</label>
                                    <select id="inputAddress2" class="form-control" name="{{data.amount_status.name}}">
                                        <option value="Paid" {% if row.id == 'Paid' %} selected {% endif %}>Paid</option>
                                        <option value="Panding" {% if row.id == 'Panding' %} selected {% endif %}>Panding
                                        </option>
                                        <option value="Cancelled" {% if row.id == 'Cancelled' %} selected {% endif %}>
                                            Cancelled</option>
                                        <option value="Refunded" {% if row.id == 'Refunded' %} selected {% endif %}>
                                            Refunded</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress2">Date</label>
                                    <input type="date" class="form-control" id="inputAddress2"
                                        placeholder="Target Amount" name="{{data.date.name}}"
                                        value="{% if data.date.value|date:'Y-m-d' %}{{ data.date.value|date:'Y-m-d' }}{% endif %}">
                                </div>
                                <div class="form-group">
                                    <label for="inputAddress2">Description</label>
                                    <input type="text" class="form-control" id="inputAddress2" placeholder="Description"
                                    name="{{data.description.name}}"
                                    value="{% if data.description.value %}{{data.description.value}}{% endif %}">
                                </div>
                                <button type="submit" class="btn  btn-primary" name="save" value="save">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'User_panel/assets/js/vendor-all.min.js'%}"></script>
    <script src="{% static 'User_panel/assets/js/plugins/bootstrap.min.js'%}"></script>
    <script src="{% static 'User_panel/assets/js/pcoded.min.js'%}"></script>
    <script src="{% static 'User_panel/assets/js/plugins/apexcharts.min.js'%}"></script>
    <script src="{% static 'User_panel/assets/js/pages/dashboard-main.js'%}"></script>
</body>
</html>