{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Flat Able - Premium Admin Template by Phoenixcoded</title>
    <!-- HTML5 Shim and Respond.js IE11 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 11]>
    	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    	<![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Phoenixcoded" />
    <!-- Favicon icon -->
    <link rel="icon" href="{% static 'User_panel/assets/images/favicon.ico'%}" type="image/x-icon">

    <!-- vendor css -->
    <link rel="stylesheet" href="{% static 'User_panel/assets/css/style.css'%}">
    <style>
     
    </style>
    
    <body class="">
     <!-- {% include 'sidebar-header.html'%} -->
	
	<!-- [ Pre-loader ] start -->
	<div class="loader-bg">
		<div class="loader-track">
			<div class="loader-fill"></div>
		</div>
	</div>
	{% include 'sidebar-header.html'%}

     <div class="pcoded-main-container">
          <div class="pcoded-content">
               <div class="First_row">
                    <div class="page-header-title">
                         <h2 class="m-b-10">Goals</h2>
                     </div>
                     <button type="button" class="btn  btn-primary">Primary</button>
               </div>
               <!-- <div class="page-header-title">
                    <h2 class="m-b-10">Goals</h2>
                </div> -->
               <div class="row">
                    <!-- [ form-element ] start -->
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Excepted Goals</h5>
                            </div>
                            <div class="card-body">                         
                                <form method="post">
                                   {%csrf_token%}
                                   <input type="hidden" name="{{goalfrm.user_id.name}}" value="{{Users_id}}">
                                    <div class="form-group">
                                        <label for="inputAddress">Goal Name</label>
                                        <input type="text" class="form-control" id="inputAddress" placeholder="Name of Goal" name="{{goalfrm.Goal_name.name}}">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputAddress2">Target Amount</label>
                                        <input type="number" class="form-control" id="inputAddress2" placeholder="Target Amount" name="{{goalfrm.Target_amount.name}}">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputAddress2">Saved Amount</label>
                                        <input type="number" class="form-control" id="inputAddress2" placeholder="Saved Amount" name="{{goalfrm.Saved_amount.name}}">
                                    </div>
                                    <div class="form-group">
                                        <label for="inputAddress2">Expected Date</label>
                                        <input type="date" class="form-control" id="inputAddress2" placeholder="Target Amount" name="{{goalfrm.Targe_date.name}}">
                                    </div>
                                   
                                    <button type="submit" class="btn  btn-primary" name="submit" value="submit">Sign in</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
           </div>
      </div>
      


  

    <!-- Required Js -->
    <script src="{% static 'User_panel/assets/js/vendor-all.min.js'%}"></script>
    <script src="{% static 'User_panel/assets/js/plugins/bootstrap.min.js'%}"></script>
    <script src="{% static 'User_panel/assets/js/pcoded.min.js'%}"></script>

<!-- Apex Chart -->
<script src="{% static 'User_panel/assets/js/plugins/apexcharts.min.js'%}"></script>


<!-- custom-chart js -->
<script src="{% static 'User_panel/assets/js/pages/dashboard-main.js'%}"></script>
</body>


</head>

</html>
