{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Flat Able - Premium Admin Template by Phoenixcoded</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Phoenixcoded" />
    <link rel="icon" href="{% static 'User_panel/assets/images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'User_panel/assets/css/style.css' %}">
</head>

<body class="">
    <div class="loader-bg">
        <div class="loader-track">
            <div class="loader-fill"></div>
        </div>
    </div>
    {% include 'sidebar-header.html'%}
    <section class="pcoded-main-container">
        <div class="pcoded-content">
            <div class="page-header">
                <div class="page-block">
                    <div class="row align-items-center">
                        <div class="col-md-12">
                            <div class="page-header-title" style="display: flex; justify-content: space-between;">
                                <h5 class="m-b-10" style="display: inline;">Expance History</h5>
                                <a href="/FinanceApp/add-expance">
                                <button type="button" class="btn  btn-primary btn-sm btn-my">Add Expance</button>
                                </a>
                            </div>
                            <!-- <button type="button" class="btn  btn-primary btn-sm btn-my">Add Expance</button> -->
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/FinanceApp/dashboard"><i
                                            class="feather icon-home"></i></a>
                                </li>
                                <li class="breadcrumb-item"><a href="/FinanceApp/expance">expance</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>Date</h5>
                        </div>
                        <div class="card-body table-border-style">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>No.</th>
                                            <th>Aount Type</th>
                                            <th>Amount</th>
                                            <th>Amount Source</th>
                                            <th>Date</th>
                                            <th>Amount Status</th>
                                            <th>Description</th>
                                            <th colspan="2">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for row in data %}
                                        <tr>
                                            <td>
                                                {{row.id}}
                                            </td>
                                            <td>
                                                {{row.amount_type}}
                                            </td>
                                            <td>
                                                {{row.amount}}
                                            </td>
                                            <td>
                                                {{row.amount_sourse}}
                                            </td>
                                            <td>
                                                {{row.date}}
                                            </td>
                                            <td>
                                                {{row.amount_status}}
                                            </td>
                                            <td>
                                                {{row.description}}
                                            </td>
                                            <td>
                                                <a href="/FinanceApp/edit-expance/{{row.id}}">Edit</a>
                                            </td>
                                            <td>
                                                <a href="/FinanceApp/delete-expance/{{row.id}}">Delete</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="{% static 'User_panel/assets/js/vendor-all.min.js' %}"></script>
        <script src="{% static 'User_panel/assets/js/plugins/bootstrap.min.js' %}"></script>
        <script src="{% static 'User_panel/assets/js/pcoded.min.js' %}"></script>
</body>

</html>