<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Enter OTP - INVOME</title>
  <link href="../css/index.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
</head>

<body>
  <div>
    <div class="authincation h-100 p-meddle">
      <div class="container h-100">
        <div class="row justify-content-center h-100 align-items-center">
          <div class="col-md-6">
            <div class="authincation-content">
              <div class="row no-gutters">
                <div class="col-xl-12">
                  <div class="auth-form">
                    <div class="text-center mb-3">
                      <Link to="/login">
                      <img src='../images/logo-full.png' alt="" />
                      </Link>
                    </div>
                    <h4 class="text-center mb-4 ">Enter Your OTP</h4>

                    <form method="post">
                      {%csrf_token%}
                      <div class="form-group mb-3">
                        <label class="mb-1 ">
                          <strong>OTP</strong>
                        </label>
                        <input type="text" class="form-control" placeholder="Enter otp here ..." name="otp" />
                        <div class="text-center mt-4">
                          <button type="submit" class="btn btn-primary btn-block">
                            Submit
                          </button>
                        </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>