{% load static %}
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Wizard-v6</title>
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<!-- Font-->
	<link rel="stylesheet" type="text/css" href="{% static 'User_panel/Login/css/opensans-font.css'%}">
	<link rel="stylesheet" type="text/css"
		href="{% static 'User_panel/Login/fonts/material-design-iconic-font/css/material-design-iconic-font.min.css'%}">
	<!-- datepicker -->
	<link rel="stylesheet" type="text/css" href="{% static 'User_panel/Login/css/jquery-ui.min.css'%}">
	<!-- Main Style Css -->
	<link rel="stylesheet" href="{% static 'User_panel/Login/css/Login-style.css'%}" />
	<script>
		document.addEventListener("DOMContentLoaded", function () {
			document.getElementById("form-register").reset();
		});
	</script>
</head>

<body>
	<div class="page-content">

		<div class="wizard-v6-content">

			<div class="wizard-form">
				<form class="form-register" id="form-register" method="post">
					{%csrf_token%}
					<div id="form-total">
						<div class="wizard-heading">Money Mentor Hub</div>
						<section>
							<div class="inner">
								{% if duplicate == True %}
								<div class="form-row">
									<div class="form-holder">
										<label class="form-row-inner">
											<span class="label" style="width: 270px;">Already Registered Email</span>
										</label>
									</div>
								</div>
								{% endif %}
								<div class="form-row">
									<div class="form-holder">
										<label class="form-row-inner">
											<input type="test" class="form-control" id="Email"
												name="{{userfrm.Username.name}}" required>
											<span class="label">User name</span>
										</label>
									</div>
								</div>
								<div class="form-row">
									<div class="form-holder">
										<label class="form-row-inner">
											<input type="email" class="form-control" id="Email"
												name="{{userfrm.Email.name}}" required>
											<span class="label">Email</span>
										</label>
									</div>
								</div>
								<div class="form-row">
									<div class="form-holder">
										<label class="form-row-inner">
											<input type="tel" class="form-control" id="Email"
												name="{{userfrm.Mobile_no.name}}" required>
											<span class="label">Contact</span>
										</label>
									</div>
								</div>
								<div class="form-row">
									<div class="form-holder">
										<label class="form-row-inner">
											<input type="password" class="form-control" id="Password"
												name="{{userfrm.Password.name}}" required>
											<span class="label">Password</span>
										</label>
									</div>
								</div>
								<div class="form-row">
									<div class="confirm-button">
										<button type="submit" class="btn-primary" name="save"
											value="save">Register</button>
									</div>
								</div>
								<div class="form-row">
									<div class="form-holder">
										<label class="form-row-inner">
											<span class="label" style="width: 270px;">Already have an account?<a href="/FinanceApp/Login" style="color: #FFF;"><b> Signin </b></a></span>
										</label>
									</div>
								</div>
							</div>
						</section>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script src="{% static 'User_panel/Login/js/jquery-3.3.1.min.js'%}"></script>
	<script src="{% static 'User_panel/Login/js/jquery.steps.js'%}"></script>
	<script src="{% static 'User_panel/Login/js/jquery-ui.min.js'%}"></script>
	<!-- <script src="{% static 'User_panel/Login/js/main.js'%}"></script> -->
	<script src="{% static 'User_panel/Login/js/login.js'%}"></script>
</body>

</html>