{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'Admin_panel/assets/images/favicon.png' %}">
    <title>Add Income Source - Admin MoneyMentorHub</title>
    <link href="{% static 'Admin_panel/dist/css/style.min.css' %}" rel="stylesheet">
</head>

<body>
    {% include 'Admin_Header-Sidebar.html '%}
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        <div class="page-wrapper">
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-7 align-self-center">
                        <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">Add Income Sources</h4>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb m-0 p-0">
                                    <li class="breadcrumb-item"><a href="/AdminFinanceApp/Admin-Dashboard" class="text-muted">Home</a></li>
                                    <li class="breadcrumb-item text-muted active" aria-current="page"><a href="/AdminFinanceApp/Admin-Dashboard" class="text-muted">Income</a></li>
                                    <li class="breadcrumb-item text-muted active" aria-current="page">Income source</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <form method="post">
                                    {% csrf_token %}
                                    <div class="form-body">
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-lg-2">Income Source Name :</label>
                                                <div class="col-lg-10">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <input type="text" class="form-control" placeholder="Add Source" name="{{data.sourse.name}}">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <div class="text-right">
                                            <button type="submit" class="btn btn-info" name="save" value="save">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer text-center text-muted">
                All Rights Reserved by Adminmart. Designed and Developed by <a
                    href="https://wrappixel.com">WrapPixel</a>.
            </footer>
        </div>
    </div>
    <script src="{% static 'Admin_panel/assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'Admin_panel/assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'Admin_panel/assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'Admin_panel/dist/js/app-style-switcher.js' %}"></script>
    <script src="{% static 'Admin_panel/dist/js/feather.min.js' %}"></script>
    <script src="{% static 'Admin_panel/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
    <script src="{% static 'Admin_panel/assets/extra-libs/sparkline/sparkline.js' %}"></script>
    <script src="{% static 'Admin_panel/dist/js/sidebarmenu.js' %}"></script>
    <script src="{% static 'Admin_panel/dist/js/custom.min.js' %}"></script>
</body>

</html>