{% load static %}
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'Admin_panel/assets/images/favicon.png' %}">
    <title>Adminmart Template - The Ultimate Multipurpose admin template</title>
    <link href="{% static 'Admin_panel/dist/css/style.min.css' %}" rel="stylesheet">
</head>

<body>
    {% include 'Admin_Header-Sidebar.html '%}
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        <div class="page-wrapper">
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-7 align-self-center">
                        <h4 class="page-title text-truncate text-dark font-weight-medium mb-1">Amount Type</h4>
                        <div class="d-flex align-items-center">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb m-0 p-0">
                                    <li class="breadcrumb-item"><a href="/AdminFinanceApp/Admin-Dashboard" class="text-muted">Home</a></li>
                                    <li class="breadcrumb-item text-muted active" aria-current="page">View Amount Type</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th scope="col" width="20%">No.</th>
                                            <th scope="col">Amount Type Names</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for row in data %}
                                            <tr>
                                                <th scope="row">{{row.id}}</th>
                                                <td>{{row.type}}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="footer text-center text-muted">
                All Rights Reserved by Adminmart. Designed and Developed by <a
                    href="https://wrappixel.com">WrapPixel</a>.
            </footer>
        </div>
    </div>
    <script src="{% static 'Admin_panel/assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'Admin_panel/assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'Admin_panel/assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- apps -->
    <!-- apps -->
    <script src="{% static 'Admin_panel/dist/js/app-style-switcher.js' %}"></script>
    <script src="{% static 'Admin_panel/dist/js/feather.min.js' %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static 'Admin_panel/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
    <script src="{% static 'Admin_panel/assets/extra-libs/sparkline/sparkline.js' %}"></script>
    <!--Wave Effects -->
    <!-- themejs -->
    <!--Menu sidebar -->
    <script src="{% static 'Admin_panel/dist/js/sidebarmenu.js' %}"></script>
    <script src="{% static 'Admin_panel/dist/js/custom.min.js' %}"></script>
</body>

</html>